* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
ul li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button,
select,
option {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #434455;
  line-height: 150%;
  letter-spacing: 0.02em;
  background-color: #fff;
}

.title-1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  color: #fff;
  letter-spacing: 0.02em;
}

.title-2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 111%;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.title-3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.button-text {
  border: none;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-text {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 117%;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #4d5ae5;
  display: inline-block;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > main {
    flex-grow: 1;
  }
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ШАПКА */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  color: #2e2f42;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 40px;
  font-weight: 500;
}

.header-menu-title {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-title:hover,
.header-menu-title:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}

.header-menu li:nth-child(1) .header-menu-title {
  position: relative;
  color: #404bbf;
}

.header-menu li:nth-child(1) .header-menu-title::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
/* Перша секція */

.hero {
  max-width: 1440px;
  background-color: #2e2f42;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-people-office.jpeg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}

.hero-title {
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* СЕКЦІЯ ПЕРЕВАГИ */

.advantages-card-title {
  margin-bottom: 8px;
}
.advantages-cards-list {
  display: flex;
  gap: 24px;
}
.advantages-cards-item {
  display: block;
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.advantages-card-icon {
  display: flex;
  height: 112px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.card-icon {
  height: 64px;
  width: 64px;
}

/* СЕКЦІЯ КОМАНДА */

.team {
  background-color: #f4f4fd;
}
.team-title {
  text-align: center;
  margin-bottom: 72px;
}
.team-cards-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.team-card {
  background-color: #fff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-card-text {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-card-name {
  text-align: center;
  margin-bottom: 8px;
}
.team-card-job {
  text-align: center;
  margin-bottom: 8px;
}
.team-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}
/* СЕКЦІЯ ПОРТФОЛІО */

.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-cards-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.porfolio-card {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-card:hover .portfolio-overlay {
  transform: translateY(0%);
}
.portfolio-cards-text {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-card-title {
  margin-bottom: 8px;
}
/* ПІДВАЛ */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.footer-text-logo {
  margin-right: 120px;
}
.footer-logo {
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-media {
  margin-right: 80px;
}

.footer-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-text {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
}
.footer-subscribe-text {
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-subscribe-input {
  color: #fff;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
}
.footer-subscribe-input::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.04em;
}
.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}
.footer-subscribe-icon {
  fill: #fff;
  height: 24px;
  width: 24px;
  margin-left: 16px;
}

/* =====forma===== */

/* .forma{} */

.subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form-footer {
  display: flex;
  gap: 24px;
}

/* .label-footer{} */

.input-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #2e2f42;
  background-color: transparent;
  padding-left: 16px;
}

::placeholder {
  color: #ffffff;
}

.botton-footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  min-width: 165px;

  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  margin-left: 24px;
  cursor: pointer;
  border: none;
}

.icon-footer {
  margin-left: 16px;
  fill: #fff;
}

/* =====modal-window===== */

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* z-index: 999; */
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  border: none;
  background-color: #404bbf;
  /* fill: #ffffff; */
}
.modal-button:hover .icon-modal {
  fill: #ffffff;
}

.modal-button:focus .icon-modal {
  fill: #ffffff;
}

.icon-modal {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .icon-modal:hover,
.icon-modal:focus {
  fill: #ffffff;
  background-color: #404bbf;
} */

.modal-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  /* margin-top: 20px; */
}

/* =====FORMA===== */

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 360px;
  /* margin-right: 24px;
  margin-left: 24px; */
  align-items: center;
  justify-content: center;
}

.data-client {
  margin-bottom: 8px;
}

.name-forma {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  align-items: center;
  display: block;
}

.icon-input {
  position: relative;
}

.input-forma {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-forma:focus {
  border-color: #4d5ae5;
}

.icon-forma {
  fill: #4d5ae5;
  padding: 3px 0px;
  width: 18px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-coment {
  margin-bottom: 16px;
}
.coments {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coments::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.coments:focus {
  border-color: #4d5ae5;
}

.user-privacy {
  margin-bottom: 24px;
  border-radius: 4px;
  width: 360px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.checkbox .visually-hidden {
  border-radius: 4px;
  /* overflow: hidden; */

  /* width: 360px;
height: 16px; */
}

.checkbox:checked .privacy-policy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privaci-accept {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  height: 16px;
  width: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  fill: transparent;
  align-items: center;
}

.link-privacy-policy {
  color: #4d5ae5;
}

/* .visually-hidden .link-privacy-policy {
  color: #4d5ae5;
} */

.checkbox:checked + .privaci-accept span {
  color: #4d5ae5;
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.botton-modal-forma {
  border-radius: 4px;
  padding: 16px 32px;
  /* width: 169px; */
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  /* margin-bottom: 24px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-icon {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}